body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* HEADER */

.site-header {
    background: #093600;
    color: white;
    padding: 15px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100px;
    height: 150px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

/* NAV layout */
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}


.nav a {
    margin-left: 0;
}


.dropbtn {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.dropbtn:hover {
    color: #00bcd4;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none !important;
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    min-width: 220px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 8px 0;
    z-index: 9999;
}



.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #003366 !important;
    margin-left: 0;
}

.dropdown-content a:hover {
    background: #f2f2f2;
    color: #003366 !important;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}


/* FOOTER */

.site-footer {
    background: #093600;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.main-content {
    padding: 40px 0;
}


