body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/*  HEADER  */

.site-header {
    background: #093600;
    color: white;
    padding: 15px 0;
}

/* Default container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Flex header */
.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 170px;
    height: 100px;
}

/* NAV */
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Верхние ссылки */
.nav > a,
.menu > a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav > a:hover,
.menu > a:hover {
    color: #00bcd4;
}

/*  DROPDOWN  */

.menu {
    position: relative;
    display: inline-block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 220px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 9999;
}

.submenu a {
    display: block;
    padding: 10px 12px;
    color: #003366;
    text-decoration: none;
}

.submenu a:hover {
    background: #f2f2f2;
}

/* Показ меню */
.menu:hover .submenu {
    display: block;
}

/*  MAIN CONTENT */

.main-content {
    padding: 40px 0;
}

/*  FOOTER  */

.site-footer {
    background: #093600;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

/*  SLIDER  */

.slider {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: none;
}

.slide.active {
    display: block;
}

/* Buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
}

.prev { left: 15px; }
.next { right: 15px; }

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.7);
}


/* PAGINATION */
.pagination-wrapper {
    margin-top: 20px;
}

.my-pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.my-pagination .page {
    min-width: 38px;
    height: 38px;
    padding: 0 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    text-decoration: none;
    color: #093600;
    background: #fff;
    font-weight: 600;
}

.my-pagination .page:hover {
    background: #f2f2f2;
}

.my-pagination .page.active {
    background: #093600;
    color: #fff;
    border-color: #093600;
}

.my-pagination .page.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.my-pagination .page.dots {
    border: none;
    background: transparent;
    min-width: auto;
}
