body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* HEADER */

.site-header {
    background: #093600;
    color: white;
    padding: 15px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100px;
    height: 150px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

.nav a:hover {
    color: #00bcd4;
}

/* FOOTER */

.site-footer {
    background: #093600;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.main-content {
    padding: 40px 0;
}

/* MENU */
.menu { position: relative; display: inline-block; }

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 220px;
  border: 1px solid #ddd;
  z-index: 9999;
}

.submenu a {
  display: block;
  padding: 10px 12px;
  color: #003366;
  text-decoration: none;
}

.menu:hover .submenu { display: block; }

