body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/*  HEADER  */

.site-header {
    background: #093600;
    color: white;
    padding: 15px 0;
}

/* Default container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Flex header */
.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 100px;
}

/* NAV */
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Верхние ссылки */
.nav > a,
.menu > a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav > a:hover,
.menu > a:hover {
    color: #00bcd4;
}

/*  DROPDOWN  */

.menu {
    position: relative;
    display: inline-block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 220px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 9999;
}

.submenu a {
    display: block;
    padding: 10px 12px;
    color: #003366;
    text-decoration: none;
}

.submenu a:hover {
    background: #f2f2f2;
}

/* Показ меню */
.menu:hover .submenu {
    display: block;
}

/*  MAIN CONTENT */

.main-content {
    padding: 40px 0;
}

/*  FOOTER  */

.site-footer {
    background: #093600;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
