body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* HEADER */

.site-header {
    background: #147a00;
    color: white;
    padding: 15px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

.nav a:hover {
    color: #00bcd4;
}

/* FOOTER */

.site-footer {
    background: #147a00;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.main-content {
    padding: 40px 0;
}
